@font-face {
    font-family: 'Arial Nova';
    src: url('../font/ArialNova.ttf');
}



.commerce span{
    border: 1px solid #5A228C;
    color: #5A228C;
}

.commerce h2{
    font-family: 'Times New Roman', Times, serif;
    border: 4px solid #5A228C;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: inline-block;
    padding-bottom: 10px;
}

#commercepara{
    font-family: 'Arial Nova';
}

@media only screen and (max-width: 786px) {
    #commercepara{
        text-align: justify;
    }
    .commerce h1{
        text-align: center;
    }
}